body, html { scroll-behavior: smooth;
    height: 100%;
}


h1, h2 {color: rgb(29, 102, 170);
 text-align: center;
 background-size: 10px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.rightcolumn { float: right;

}

.leftcolumn { float: left;

}

h3 {color: rgb(29, 102, 170);
 text-align: center;
}

h5 {color: rgb(123, 122, 126);
  text-align: center;
 }

.column {
  float: left;
  width: 50%;
}

input {
  padding: .8rem 1rem;
  width: 70%;
  border-radius: 5rem;
  outline: none;
  border: 1px solid rgb(29, 102, 170);
  font-size: 15px;
}

textarea {
  padding: .5rem 1rem;
  width: 70%;
  border-radius: 2rem;
  outline: none;
  border: 1px solid rgb(29, 102, 170);
  font-size: 15px;
}

.form, .fa-search {
  padding: .5rem 1rem;
  width: 80%;
  border-radius: 2rem;
  outline: none;
  font-size: 15px;
  border-color:rgb(29, 102, 170);
}

.popup {
  width: 500px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 1px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.popup img {
  width: 50px;
  margin-top: -30px;
}

.popup h2 {
  font-size: 25px;
  font-weight: bold;
}

.popup-btn {
  float: right;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
}

.open-popup {
  transform: translate(-50%, -50%) scale(1); }

.btn-link, .subscribe-btn, .contact-btn {
  padding: .8rem 2rem;
  border-radius: 35px;
  background: rgb(192, 225, 232);
  color: rgb(29, 102, 170);
  border: 1px solid rgb(29, 102, 170);
  font-size: 16px;
  outline: none;
  cursor: pointer;
  position: center;
}

.btn-footer {
  padding: .4rem 2rem;
  border-radius: 20px;
  background: rgb(192, 225, 232);
  color: rgb(29, 102, 170);
  border: 1px solid rgb(29, 102, 170);
  font-size: 14px;
  outline: none;
  cursor: pointer;
  position: center;
}

.discover {
  text-align: center;
  display: block;
}


.card {
    padding: 10px;
    margin-top: 1opx;
  }

  .colored-section {
    background-color: rgb(192, 225, 232);
    padding: 15px;
}

.p {color: rgb(0, 0, 0);
     align-content: center;
     width: 100%;
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position:relative;
    flex: 1 0 10rem;
    margin: 1rem;
    cursor: pointer;
}

table, th {
  border: 1px solid black;
  padding: 45px;
  margin: 10px;
  place-content: center;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}
.img-hover-zoom:hover{
  transform: scale(1.2);
}

.navbar {
  background-color: rgb(208, 240, 192);
  position: sticky;
  top: 0;
  z-index: 100;
}


.footer {
  background-color: rgb(208, 240, 192);
  width:100%;
  height: auto;
  position:absolute;
  left:0;
}

/* colori dei social media */
.fa {
  padding: 13px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%
}


.fa:hover {
  opacity: 0.7;
}



.fa-facebook {
  background: #3B5998;
  color: white;
  border: 1px solid rgb(29, 102, 170);
}


.fa-telegram {
  background: #55ACEE;
  color: white;
  border: 1px solid rgb(29, 102, 170);
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
  border: 1px solid rgb(29, 102, 170);
}
