body, html { scroll-behavior: smooth;
    height: 100%;
}

a {
  padding-right: 0;
  padding-left: 0;
  font-size: 18px;
  color: #fff;
  color: rgb(192, 225, 232);
  border-bottom: 2px solid transparent;
}

a:hover,
a:focus {
  background-color: transparent;
  border-bottom-color: rgb(192, 225, 232);
  border-bottom-color: rgb(192, 225, 232);
}

h1 {color: rgb(0, 0, 0);
  text-align: center;
  background-size: 10px;
  font-family: 'Titan One';
 
 }

h2, h3 {color: #1d66aa;
 text-align: center;
 position: center;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h5 {color: rgb(123, 122, 126);
  text-align: center;
 }


.rightcolumn { float: right;

}

.leftcolumn { float: left;

}


.column {
  float: left;
  width: 50%;
}

input {
  padding: .8rem 1rem;
  width: 70%;
  border-radius: 5rem;
  outline: none;
  border: 1px solid rgb(29, 102, 170);
  font-size: 15px;
}

textarea {
  padding: .5rem 1rem;
  width: 70%;
  border-radius: 2rem;
  outline: none;
  border: 1px solid rgb(29, 102, 170);
  font-size: 15px;
}

.form, .fa-search {
  padding: .5rem 1rem;
  width: 80%;
  border-radius: 2rem;
  outline: none;
  font-size: 15px;
  border-color:rgb(29, 102, 170);
}

.popup {
  width: 500px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 1px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.popup img {
  width: 50px;
  margin-top: -30px;
}

.popup h2 {
  font-size: 25px;
  font-weight: bold;
}

.popup-btn {
  float: right;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background: none;
}

.open-popup {
  transform: translate(-50%, -50%) scale(1); }

.btn-link, .subscribe-btn, .contact-btn {
  padding: .8rem 1rem;
  border-radius: 35px;
  background: rgb(192, 225, 232);
  color: rgb(29, 102, 170);
  border: 1px solid rgb(29, 102, 170);
  font-size: 16px;
  outline: none;
  cursor: pointer;
  position: center;
}

.btn-footer {
  padding: .4rem 1rem;
  border-radius: 20px;
  background: rgb(192, 225, 232);
  color: rgb(29, 102, 170);
  border: 1px solid rgb(29, 102, 170);
  font-size: 14px;
  outline: none;
  cursor: pointer;
  position: center;
}

.discover {
  text-align: center;
  display: block;
}


.card {
    padding: 10px;
    margin-top: 10px;
  }

  .colored-section {
    background-color: rgb(192, 225, 232);
    padding: 15px;
}

.p {color: rgb(0, 0, 0);
     align-content: center;
     width: 100%;
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position:relative;
    flex: 1 0 10rem;
    margin: 1rem;
    cursor: pointer;
}

table, th {
  border: 1px solid black;
  padding: 45px;
  margin: 10px;
  place-content: center;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}
.img-hover-zoom:hover{
  transform: scale(1.2);
}

.navbar {
  background-color: rgb(185, 215, 163);
  position: sticky;
  top: 0;
  z-index: 100;
}


.footer {
  background-color: rgb(185, 215, 163);
  width:100%;
  height: auto;
  position:absolute;
  left:0;
}

.col { 
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
     
}

.parent {
  position: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 3; display:inline-block; margin-right: -200px;}
  .div2 { grid-area: 1 / 3 / 2 / 4; display:inline-block; margin-top: 40px; }
  .div3 { grid-area: 2 / 2 / 3 / 3; display:inline-block; margin-top: 40px; }
  .div4 { grid-area: 2 / 3 / 3 / 4; display:inline-block; margin-right: -200px;}
  .div5 { grid-area: 3 / 2 / 4 / 3; display:inline-block; margin-right: -200px;}
  .div6 { grid-area: 3 / 3 / 4 / 4; display:inline-block; margin-top: 50px;}
  .div7 { grid-area: 4 / 2 / 5 / 3; display:inline-block; margin-top: 50px;}
  .div8 { grid-area: 4 / 3 / 5 / 4; display:inline-block; margin-right: -200px;}
  .div9 { grid-area: 5 / 2 / 6 / 3; display:inline-block; margin-right: -200px;}
  .div10 { grid-area: 5 / 3 / 6 / 4; display:inline-block; margin-top: 50px;}
  .div11 { grid-area: 6 / 2 / 7 / 3; display:inline-block; margin-top: 50px;}
  .div12 { grid-area: 6 / 3 / 7 / 4; display:inline-block; margin-right: -200px;}
  .div13 { grid-area: 7 / 2 / 8 / 3; display:inline-block; margin-right: -200px;}
  .div14 { grid-area: 7 / 3 / 8 / 4; display:inline-block; margin-top: 40px;}
  .div15 { grid-area: 8 / 2 / 9 / 3; display:inline-block; margin-top: 40px;}
  .div16 { grid-area: 8 / 3 / 9 / 4; display:inline-block; margin-right: -200px;}
  
  
.resize { 
    width: 110px;
    height: auto;
    margin-right: 300px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.resize2 {
  width: 150px;
  height: auto;
}

/* colori dei social media */
.fa {
  padding: 13px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%
}


.fa:hover {
  opacity: 0.7;
}



.fa-facebook {
  background: #3B5998;
  color: white;
  border: 1px solid rgb(29, 102, 170);
}


.fa-telegram {
  background: #55ACEE;
  color: white;
  border: 1px solid rgb(29, 102, 170);
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
  border: 1px solid rgb(29, 102, 170);
}
